body{
    background-color: #EFEFEF;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
    color:red;
}

.text-font {
    font-family:fantasy;
    margin-top: 10px;
}

#titulo{
    text-decoration: underline;
}

.menu li{
     display: inline;
     padding: 10px;
    
}

.menu a{
text-decoration: none;
color: white;
font-size: medium;
text-align: center;
margin-bottom: 10px;

}
.menu a:hover{
     color:#d2232a
    }

header{
    color: rgba(23, 22, 22, 0.42);
    background-color: rgb(17, 17, 17);
    height: 40px;
    display:flow-root;
    justify-content: space-between;
    text-align: center;
}

.tm-icon{
    height: 50px;
    width: auto;
}
footer{
    background-color:black ;
    height: 60px;
    display: flex;
}
.mf li{
    display: inline;
    padding: 10px; 
}

.mf a{
text-decoration: none;
color:white;
font-size: medium;
text-align:left
}
.placar{
    font-size: 50px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.c{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.lado{
    display: flex;
}
.letra {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.qb{
width: 600px;
margin-right: 60px;
margin-left: 20px;
}
.tm{
    font-size: 12px;
    text-align: center;
}
.logoo{
    margin-left: 20px;
    margin-right: 200px;
}
.contato{
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.lado iframe{
    margin-left: 210px;

}
.mf a:hover{
    color:#d2232a
}
.i{
    display: flex;
}
input{
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 20px;
}
textarea{
    border: none;
}
.linha2 {
    height: 30px;
    background-color: #d2232a;
  }
  .linha1 {
    height: 80px;
    background-color: #d2232a;
    display: flex;
    justify-content: space-around;
  }

  .dv{
    height: 8px;
    background-color: #d2232a;
  }
  .dp{
    height: 8px;
    background-color: #070707;
  }
  .text-red{
    color: #d2232a;
  }
  .quadrado{
    margin-right: 40px;
  
    float: right;
    background-color: #871f22;
    text-decoration: none;
    font-family:fantasy;
    margin-top: 10px;
    display: inline;
    padding:10px ;
    color:wheat;
    font-size: 25px;
}
.quadrado:hover {
    color: #070707;
}


  .encima{
    margin-right: 0px;
    margin-top: 30px;
    float: right;
    
  }
  .fundo{
    background-image: url(../img/fundo.jpg);
  }
  .placa{
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    background-color: #e3e3e3;
    position:static;
    margin-top: -50px;
    border-radius: 12px;
    box-shadow: 1px 1px 10px #111111;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 10px;
    text-align: center;

}
    iframe{
        margin-right: 300px;
    }